<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item " [routerLink] = "['/login']" >Login</a>
          <a class="dropdown-item " [routerLink] = "['/registration']">Register</a>

        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link" [routerLink] = "['/jobpost']">Jobs</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<div class="row">
  <h2 class="header">
    The Recruiter
  </h2>
</div>
<div class="row">
  <img class="landing-image img-fluid " src="../../assets/Images/Resume-amico.png">
</div>






  <!--<div class=" the-card col s12 m6">
    <div class="card" >
      <img class="card-img-top" src="../../assets/Images/Selecting team-bro.png" >
      <div class="card-body">
        <h5 class="card-title">The right Team</h5>
        <p class="card-text">
          We help make the Hiring process more efficient
        </p>

      </div>

    </div>

  </div> -->



